{% extends "base.html" %}
{% block title %}<title>資料表修改(二)</title>{% endblock %}
{% block content %}
<h2>student 資料表修改(二)</h2>
<form action="/students/edit2/{{unit.id}}/save" method="POST" name="form1">
    {% csrf_token %}
    <table border="1" cellspacing="1" cellpadding="4">
        <tr>
            <th>姓名</th>
            <td><input type="text" id="stdName" name="stdName" value={{unit.stdName}}></td>
        </tr>
        <th>性別{{unit.stdSex}}</th>
        {% if unit.stdSex == "M" %}
        <td>
            <input name="stdSex" type="radio" id="stdSex1" value="M" checked="checked" />
            男生
            <input name="stdSex" type="radio" id="stdSex2" value="F" />
            女生
        </td>
        {% else %}
        <td>
            <input name="stdSex" type="radio" id="stdSex1" value="M" />
            男生
            <input name="stdSex" type="radio" id="stdSex2" value="F" checked="checked" />
            女生
        </td>
        {% endif %}
        </tr>
        <tr>
            <th>生日</th>
            <td><input type="text" id="stdBirth" name="stdBirth" value={{unit.stdBirth}}></td>
        </tr>
        <tr>
        <tr>
            <th>郵件帳號</th>
            <td><input type="text" id="stdEmail" name="stdEmail" value={{unit.stdEmail}}></td>
        </tr>
        <tr>
            <th>電話</th>
            <td><input type="text" id="stdPhone" name="stdPhone" value={{unit.stdPhone}}></td>
        </tr>
        <tr>
            <th>地址</th>
            <td><input type="text" id="stdAddr" name="stdAddr" value={{unit.stdAddr}}></td>
        </tr>
        <tr>
            <th colspan="2" align="center">
                <input type="submit" name="button" id="button" value="送出">
                <input type="reset" name="button2" id="button2" value="重設">
            </th>
        </tr>
    </table>
    <span style="color:red">{{message}}</span>
</form>
{% endblock %}